body {
    /*padding-top: 100px;*/
    background-color: #f8f8f8;
}

@media(min-width:768px) {
    body {
        /*padding-top: 50px;*/
    }
}

/* Wrappers */

/* ------------------------------- */

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 235px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }

        #page-wrapper.expand {
            margin: 0 0 0 41px;
        }
}

/* Navigation */

/* ------------------------------- */

/* Top Right Navigation Dropdown Styles */

.navbar-top-links li {
    display: inline-block;
}

    .navbar-top-links li:last-child {
        margin-right: 15px;
    }

    .navbar-top-links li a {
        padding: 15px;
        min-height: 50px;
    }

.navbar-top-links .dropdown-menu li {
    display: block;
}

    .navbar-top-links .dropdown-menu li:last-child {
        margin-right: 0;
    }

    .navbar-top-links .dropdown-menu li a {
        padding: 3px 20px;
        min-height: 0;
    }

        .navbar-top-links .dropdown-menu li a div {
            white-space: normal;
        }

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Sidebar Menu Styles */

.sidebar-collapse > ul.nav > li:not(:last-child) {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar-minified {
    text-align: center;
    position: relative;
    margin: 15px 0;
}

    .sidebar-minified:before {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        content: "";
        height: 0;
        border-top: 1px solid #c4c4c4;
        position: absolute;
        left: 10px;
        right: 10px;
        top: 13px;
    }

    .sidebar-minified .fa {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        border-radius: 25px;
        width: 25px;
        height: 25px;
        position: relative;
        border: 1px solid #A2A2A2;
        color: #A2A2A2;
        padding: 4px;
        background-color: #f8f8f8;
        cursor: pointer;
    }

        .sidebar-minified .fa:hover {
            background-color: #eee;
        }

#page-wrapper.expanded {
    margin-left: 50px;
}

.sidebar-search {
    padding: 15px;
}

.arrow {
    float: right;
}

.glyphicon.arrow:before {
    content: "\e079";
}

.active > a .glyphicon.arrow:before {
    content: "\e114";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

    .nav-second-level li a {
        padding-left: 50px;
    }

    .nav-third-level li a {
        padding-left: 52px;
    }

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 234px;
        margin-top: 51px;
    }

        .navbar-static-side.minified {
            width: 40px;
            margin-right: -40px;
            z-index: 9;
        }

            .navbar-static-side.minified .main-menu > li {
                position: relative;
            }

                .navbar-static-side.minified .main-menu > li .fa {
                    width: 40px;
                }

                .navbar-static-side.minified .main-menu > li .toggle-icon {
                    display: none;
                }

                .navbar-static-side.minified .main-menu > li > a {
                    padding-left: 0;
                }

                    .navbar-static-side.minified .main-menu > li > a > .text {
                        position: absolute;
                        display: none;
                    }

                .navbar-static-side.minified .main-menu > li:hover > a > .text {
                    position: absolute;
                    display: block;
                    left: 40px;
                    top: -1px;
                    min-width: 200px;
                    z-index: 9999;
                    padding: 10px;
                    border: 1px solid #ccc;
                    line-height: 1.5;
                    background: #ccc;
                    font-weight: 700;
                }

                .navbar-static-side.minified .main-menu > li:hover > ul.nav-second-level {
                    display: block !important;
                    min-width: 200px;
                    position: absolute;
                    margin-left: 40px;
                    z-index: 9999;
                    border: 1px solid #E4E4E4;
                    border-top: none;
                }

                    .navbar-static-side.minified .main-menu > li:hover > ul.nav-second-level > li > a {
                        padding-left: 10px;
                        background-color: #f8f8f8;
                        border-top: 1px solid #dfdfdf;
                    }

                    .navbar-static-side.minified .main-menu > li:hover > ul.nav-second-level > li:hover > a {
                        background-color: #eee;
                    }

                .navbar-static-side.minified .main-menu > li:hover .glyphicon.arrow:before {
                    content: "\e114";
                }
}

@media(max-height:600px) and (max-width:767px) {
    .sidebar-collapse {
        max-height: 300px;
        overflow-y: scroll;
    }
}

@media(max-height:400px) and (max-width:767px) {
    .sidebar-collapse {
        max-height: 200px;
        overflow-y: scroll;
    }
}

ul.nav > li .text {
    padding-left: 5px;
    /* font-size: 0.9em; */
}

.mgr2 {
    margin-right: 2px;
}

tr.highlight td, td.highlight {
    background-color: #eee !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    cursor: pointer;
}

@media (min-width: 1024px) {
    .modal.modal-wide .modal-dialog {
        width: 80%;
    }
}

.modal.modal-wide .modal-body {
        font-size: 13px;
    }

@media (min-width: 800px) and (max-width: 1024px) {
    .modal.modal-wide .modal-dialog {
        width: 85%;
    }
}

@media (max-width: 800px) {
    .modal.modal-wide .modal-dialog {
        width: auto;
    }
}

.modal.modal-wide .modal-body .title-input {
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 20px;
}

.radio, .checkbox {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.form-group {
    margin-bottom: 5px !important;
}
textarea {
    resize: none;
}

.clearpad {
    padding-left:0; padding-right:0;
}