@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav navbar-top-links navbar-right" }))
    {
        <li class="dropdown" style="float: right">
            @Html.AntiForgeryToken()
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"> </i>
                @User.Identity.GetUserName()
                <i class="fa fa-caret-down"> </i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="@Url.Action("Index", "Manage")">
                        <i class="fa fa-user fa-fw"></i>
                        Thông tin tài khoản
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-life-saver fa-fw"></i>
                        Trợ giúp
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit(), localStorage.clear(); ">
                        <i class="fa fa-sign-out fa-fw"></i>
                        Đăng xuất
                    </a>
                </li>
            </ul>
        </li>
    }
}