@{
    ViewBag.Title = "Report0";
}

<h2>Danh mục các cuộc kiểm toán</h2>

<div id="rptCon"><iframe id="reports" src="@Url.Content("~/BaoCao/DanhSach.aspx")" height="100%" width="100%" style="border: none;"></iframe></div>