@{
    ViewBag.Title = "Phu_Bieu_2";
    Session["Url"] = Request.RawUrl;
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Phụ biểu 02 - Tiến độ thực hiện các cuộc kiểm toán</h2>
    </div>
</div>