@{
    ViewBag.Title = "Cập nhật số liệu kiểm toán Báo cáo quyết toán thu NSNN";
}

<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h2><i class="fa fa-database fa-fw"></i> @ViewBag.Title <br /></h2>
        </div>
    </div>
</div>
<div class="panel panel-green">
    <div class="panel-heading">
        <i class="fa fa-info fa-fw"></i>Thông tin về cuộc kiểm toán
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">

    </div>
    <!-- /.panel-body -->
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-file-o fa-fw"></i> Các chỉ tiêu
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">

    </div>
    <!-- /.panel-body -->
</div>
